Thumbs.db
.DS_Store
.gradle
gradle
gradlew
gradlew.bat
build/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
bin/
.vertx/
.groovy/
*~
src/main/resources/version.txt
!/ci/
!/ci/bin/
.m2
mermaid.md
vx-demo-backoffice/src/webapp/node_modules/
